* {
margin: 0;
padding: 0;
}

.map-display {
  height: 600px;
  width: 600px;
}

.navigation {
  height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 1em;
    &:hover {
      color: tomato;
    }
  }
  font-family: 'Fontdiner Swanky', cursive;
  border-bottom: 1px solid black;
  background-color: #FFCF82;
}

h1  {
  font-family: 'Fontdiner Swanky', cursive;
}

.wrapper {
  margin: 1em;
  li{
    list-style-type: none;
  }
}
