@import "scss/index";

* {
margin: 0;
padding: 0;
}

.map-display {
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    padding: 1em;
    &:hover {
      color: tomato;
    }
  }
  font-family: 'Fontdiner Swanky', cursive;
  border-bottom: 1px solid black;
  background-color: #FFCF82;
}

h1  {
  font-family: 'Fontdiner Swanky', cursive;
}

li {
  list-style-type: none;
}

.row {
  font-size: 16px;
}

.combo {
  text-align: center;
}

.menu-head {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
}


.box-around {
  border-style: solid;
  border-color: gray;
  // border-radius: 20%;
  margin: 10px;
}

.inner-text {
  margin: 1.2em;
}

.late-night {
  text-align: center;
}

.contact-page {
  padding-top: 25px;
  text-align: center;
}

#map-button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
