@import "scss/index";
@import "scss/footer";

.box-around {
  border-style: solid;
  border-color: gray;
  // border-radius: 20%;
  margin: 10px;
}

.inner-text {
  margin: 1.2em;
}

.late-night {
  text-align: center;
}

.contact-page {
  padding-top: 25px;
  text-align: center;
}

//events page styling


#map-button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
