<div class="navigation">
  <div class="header">
    <img src="assets/img/candle-128.png" alt="" />
      {{#link-to 'index'}}<h1 class="logo">Candlelight</h1>{{/link-to}}
  </div>
  <div class="nav-items">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
    {{#link-to 'menu-day'}}Day Menu{{/link-to}}
    {{#link-to 'menu-night'}}Night Menu{{/link-to}}
    {{#link-to 'late-night-menu'}}Late Night Specials{{/link-to}}
    {{#link-to 'events'}}Events{{/link-to}}
  </div>
</div>

{{outlet}}


<footer class="footer-distributed">

  <div class="footer-left fixed-bottom">

    <h3>Candlelight</h3>

    <p class="footer-links">
      {{#link-to 'index'}}Home{{/link-to}}
      ·
      {{#link-to 'contact'}}Contact{{/link-to}}
      ·
      {{#link-to 'events'}}Events{{/link-to}}
    </p>

    <p class="footer-company-name">Candlelight &copy; 2016</p>
  </div>

  <div class="footer-center  fixed-bottom">

    <div>
      <a href="https://www.google.com/maps/place/Candlelight+Restaurant+and+Lounge/@45.5171924,-122.7050246,12z/data=!4m8!1m2!2m1!1scandle+light+restaurant!3m4!1s0x5495a11ae6d7da0b:0xb0fbf4813aebc685!8m2!3d45.526233!4d-122.587057" target="_blank"><i class="fa fa-map-marker"></i>
      <p><span>7334 NE Glisan Street </span>Portland, OR 97213</p></a>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>(503) 253-9738</p>
    </div>

  </div>

  <div class="footer-right  fixed-bottom">

    <p class="footer-company-about">
      <span>Learn more about Candlelight!</span>
    </p>



    <div class="footer-icons">

      <a href="https://www.facebook.com/pages/Candle-Light-Restaurant-and-Lounge/116130535080923" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.google.com/search?q=candle+light+restaurant+google+reviews&oq=candle+light+restaurant+google+reviews&aqs=chrome..69i57.7999j0j4&sourceid=chrome&ie=UTF-8#q=candle+light+restaurant+&lrd=0x5495a11ae6d7da0b:0xb0fbf4813aebc685,1,"><i class="fa fa-google" aria-hidden="true" target="_blank"></i></a>
      <a href="https://www.yelp.com/biz/candlelight-restaurant-and-lounge-portland"target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>

    </div>

  </div>



</footer>
