<div class="navigation">
  <div class="header">
    <img src="assets/img/candle-128.png" alt="" />
  <h1>Candlelight</h1>
  </div>
  <div class="nav-items">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
    {{#link-to 'menu-day'}}Day Menu{{/link-to}}
    {{#link-to 'menu-night'}}Night Menu{{/link-to}}
  </div>
</div>

{{outlet}}

<footer>
<h4>Follow Us</h4>
</footer>
