<div class="navigation">
  <div class="header">
    <h1>Candlelight</h1>
  </div>
  <div class="nav-items">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>
</div>

{{outlet}}
