<div class="contact-page">
  <h2>Visit Us!</h2>
  <br>
  <p>Candlelight Restaurant &amp; Lounge</p>
  <a href="https://www.google.com/maps/place/Candlelight+Restaurant+and+Lounge/@45.526233,-122.587057,15z/data=!4m5!3m4!1s0x0:0xb0fbf4813aebc685!8m2!3d45.526233!4d-122.587057" target="_blank"><p>7334 NE Glisan St. Portland, OR 97213</p></a>
  <p>(503) 253-9738</p>
</div>

<div class="show-map">
  {{google-map location=model}}
</div>
