<div class="contact">
  <h3>Contact us</h3>
  <p>Candlelight Restaurant and Lounge</p>
  <p>7334 NE Glisan St, Portland, OR 97213</p>
  <p>(503) 253-9738</p>
</div>

<div class="amenities">
  <h3>Amenities</h3>
  <p>Full bar</p>
  <p>Wifi</p>
  <p>Private Parking Lot</p>
  <p>Karaoke</p>
  <p>Free pool</p>
  <p>Sports</p>
</div>

<a href="https://www.yelp.com/biz/candlelight-restaurant-and-lounge-portland" target="_blank"><img src="/assets/img/yelp_review_btn_light.png"></a>

<div class="location">
  <h3>Map of Candlelight</h3>
  {{google-map location=model}}
</div>
