<div class="monday-events">
  <h3>Monday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu - Daily Special Waffle </li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>8pm-12am: Late Night Menu</li>
  </ul>
</div>

<div class="tuesday-events">
  <h3>Tuesday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu - Daily Special Breakfast Burrito</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>8pm-12am: Late Night Menu</li>
  </ul>
</div>

<div class="wednesday-events">
  <h3>Wednesday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu  - Daily Special Chicken Fried Steak</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>8pm-12am: Late Night Menu</li>
  </ul>
</div>

<div class="thursday-events">
  <h3>Thursday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu  - Daily Special French Toast</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>9pm-2am: Karaoke</li>
  </ul>
</div>

<div class="friday-events">
  <h3>Friday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu  - Daily Special Bacon and Cheddar Omlette (First Friday of Every Month Chicken and Dumplings)</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>9pm-2am: Karaoke</li>
  </ul>
</div>

<div class="saturday-events">
  <h3>Saturday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu - Daily Special Eggs Benedict or Spinach Omelette</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>9pm-2am: Karaoke</li>
  </ul>
</div>

<div class="sunday-events">
  <h3>Sunday</h3>
  <ul>
    <li>7am-2:30pm: Breakfast Menu  - Daily Special Eggs Benedict or Spinach Omelette</li>
    <li>11am-1pm: Happy Hour</li>
    <li>4pm-7pm: Happy Hour</li>
    <li>4:30pm-2:30am: Chinese Cuisine Menu</li>
    <li>8pm-12am: Late Night Menu</li>
  </ul>
</div>
