<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="box-around card card-block">
        <div class="inner-text">
        <h3 class="card-title">Daily</h3>
          <ul class="card-text">
            <li>7:00am-2:30pm ~ Breakfast Menu</li>
            <li>11:00am-1:00pm ~ Happy Hour</li>
            <li>4:00pm-7:00pm ~ Happy Hour</li>
            <li>4:30pm-2:30am ~ Chinese Cuisine Menu</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Sunday</h3>
          <ul class="card-text">
            <li>Special ~ Eggs Benedict</li>
            <li>Special ~ Spinach Omelette</li>
            <li>8:00pm-12:00am ~ Late Night Menu</li>
          </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Monday</h3>
        <ul class="card-text">
          <li>Special ~ Daily Special Waffle</li>
          <li>8:00pm-12:00am ~ Late Night Menu</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Tuesday</h3>
        <ul class="card-text">
          <li>Special ~ Breakfast Burrito</li>
          <li>8:00pm-12:00am ~ Late Night Menu</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Wednesday</h3>
        <ul class="card-text">
          <li>Special ~ Chicken Fried Steak</li>
          <li>8:00pm-12:00am ~ Late Night Menu</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Thursday</h3>
        <ul class="card-text">
          <li>Special ~ French Toast</li>
          <li>9:00pm-2:00am ~ Karaoke</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Friday</h3>
        <ul class="card-text">
          <li>Special ~ Bacon and Cheddar Omlette</li>
          <li>Special ~ First Friday Chicken and Dumplings</li>
          <li>9:00pm-2:00am ~ Karaoke</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Saturday</h3>
        <ul class="card-text">
          <li>Special ~ Eggs Benedict</li>
          <li>Special ~ Spinach Omelette</li>
          <li>9:00pm-2:00am ~ Karaoke</li>
        </ul>
      </div>
    </div>
  </div>
</div>
