<section class="hero">
  <div class="intro">
    <h2 class="welcome">Welcome to Candlelight Restaurant and Lounge</h2>
  </div>
</section>

<div class="extras">
  <ul>
    <li>Full Bar</li>
    <li>Karaoke</li>
    <li>Sports</li>
    <li>Dine In or Take out</li>
    <li>Wifi</li>
    <li>Private Parking Lot</li>
    <li>Free Pool Table</li>
  </ul>
</div>
