<section class="hero">
  <div class="intro">
    <h1 class="welcome">Welcome</h1>
  </div>
</section>

<div class="index">
  <h2>Neighborhood Favorite</h2>
  <h2>Karaoke</h2>
  <h2>Sports</h2>
  <h2>Dining</h2>
</div>
