<section class="hero">
  <div class="intro">
    <h2 class="welcome">Neighborhood Favorite</h2>
    <h2 class="welcome">Karaoke</h2>
    <h2 class="welcome">Sports</h2>
    <h2 class="welcome">Dine In or Take Out</h2>
  </div>
</section>

<div class="index">
</div>
