<div class="container">
  <div class="late-night card card-block">
    <div class="inner-text">
      <div class="happy-header">
        <img src="assets/img/moon.png" alt="moon" />
        <h2 class="card-title">Late Night Menu</h2>
      </div>
      <div class="hh-items">
        <h4>Sun-Wed 8pm-midnight</h4>
        <ul class="card-text">
          <li>Cheese Burger with fries $3</li>
          <li>Chicken Burger with fries $3</li>
          <li>BLT with fries $3</li>
          <li>6 Chicken Wings with fries $3</li>
          <li>Bowl of Clam Chowder $3</li>
        </ul>
      </div>
    </div>
  </div>

</div>
