<div class="late-night-menu">
  <h3>Late Night Menu</h3>
  <h5>No to go orders</h5>
  <h4>Sunday-Wednesday 8pm-midnight</h4>
  <li>Cheese Burger with fries $3</li>
  <li>Chicken Burger with fries $3</li>
  <li>BLT with fries $3</li>
  <li>6 Chicken Wings with fries $3</li>
  <li>Bowl of Clam Chowder $3</li>
</div>
