<div class="container late-night">
  <div class="row row-centered">
    <div class="col-sm-4 menu-links">
      {{#link-to 'menu-day'}}
      <div class="card">
        <img class="card-img-top menus-pictures" src="assets/img/coffee.jpg" alt="Candle light coffee mug in the morning">
        <div class="card-block">
          <h3>View Day Menu</h3>
        </div>
      </div>
      {{/link-to}}
    </div>

    <div class="col-sm-4 menu-links">
      {{#link-to 'menu-night'}}
      <div class="card">
        <img class="card-img-top menus-pictures" src="assets/img/bar.jpg" alt="Card image cap">
        <div class="card-block">
          <h3>View Evening Menu</h3>
        </div>
      </div>
      {{/link-to}}
    </div>

    <div class="col-sm-4 menu-links">
      {{#link-to 'late-night-menu'}}
      <div class="card">
        <img class="card-img-top menus-pictures" src="assets/img/late-night-pool.jpg" alt="Card image cap">
        <div class="card-block">
          <h3>View Late-night Menu</h3>
        </div>
      </div>
      {{/link-to}}
    </div>
  </div>
</div>
